.search-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.button{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2%;
}
.search-bar{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}